<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content" th:object="${urls}">
    <div class="container-lg mt-5">
        <h1 th:text="'Сайт ' + ${urls.name}"></h1>
        <table class="table table-bordered table-hover mt-3">
            <tr>
                <td>ID</td>
                <td th:text="${urls.id}">ID</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td th:text="${urls.name}">Имя</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td th:text="${#temporals.format(urls.createdAt, 'dd/MM/yyyy HH:mm')}">Дата создания</td>
            </tr>
        </table>

        <h2 class="mt-5">Проверки</h2>

        <form method="post" th:action="@{/urls/{id}/check(id=*{getId()})}">
            <button type="submit" class="btn btn-primary">Запустить проверку</button>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-2">Код ответа</th>
                <th>title</th>
                <th>h1</th>
                <th>description</th>
                <th class="col-3">Дата проверки</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="urlsChecks : ${urlsChecks}" th:object="${urlsChecks}">
                <td th:text="*{getId()}"></td>
                <td th:text="*{getStatusCode()}"></td>
                <td th:text="${#strings.abbreviate(urlsChecks.getTitle(), 20)}"></td>
                <td th:text="${#strings.abbreviate(urlsChecks.getH1(), 20)}"></td>
                <td th:text="${#strings.abbreviate(urlsChecks.getDescription(), 50)}"></td>
                <td th:text="${#temporals.format(urlsChecks.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>
